
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    width:100%;
    padding:10px 20px;
}

.navbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:15px;
}

.navbar a{
    text-decoration:none;
    color:#000;
    font-size:14px;
}

.navbar a:hover{
    text-decoration:underline;
}


.apps-icon,
.profile-icon{
    width:32px;
    height:32px;
    border-radius:50%;
    cursor:pointer;
}



.main{
    height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


.logo-section img{
    width:270px;
    margin-bottom:25px;
}



.search-section{
    text-align:center;
}

.search-box{
    width:500px;
    border:1px solid #ddd;
    border-radius:25px;
    padding:10px 15px;
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:20px;
}

.search-box:hover{
    box-shadow:0 1px 6px rgba(0,0,0,0.2);
}

.search-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}


.icon{
    font-size:18px;
    cursor:pointer;
}


.buttons button{
    border:none;
    padding:10px 15px;
    margin:5px;
    background:#f8f9fa;
    border-radius:4px;
    cursor:pointer;
}

.buttons button:hover{
    border:1px solid #ddd;
}